<h2> Meus Cartões </h2>

<table>
	<tr> 
		<th> nome </th>
		<th> numero </th>
		<th> especialidade </th>
		<th> regiao </th>
		<th> cartaodevisita </th>
	</tr> 

	<% @cards.each do |card| %>
	<tr>
		<td><%= card.nome %>  </td>
		<td><%= card.numero %> </td>
		<td><%= card.especialidade %> </td>
		<td><%= card.regiao %> </td>
		<td><%= card.cartaodevisita %> </td>
		<td><%= link_to "Gerenciar Cartão",  edit_card_path(card)%> </td>
	</tr>
	<% end %>

</table>
<%= link_to 'Cadastrar Cartão', new_card_path%>