<h2> Meus Cartões </h2>

<table>
	<tr> 
		<th> Nome </th>
		<th> Numero </th>
		<th> Especialidade </th>
		<th> Regiao </th>
		<th> Cartão de visita </th>
		<th> Gerenciar cartão </th>
	</tr> 

	<% @cards.each do |card| %>
	<tr>
		<td><%= card.nome %>  </td>
		<td><%= card.numero %> </td>
		<td><%= card.especialidade %> </td>
		<td><%= card.regiao %> </td>
		<td><%= card.cartaodevisita %> </td>
		<td><%= link_to "Gerenciar Cartão",  edit_card_path(card)%> </td>
		<td><%= link_to "Deletar",  card_path(card),
							method: :delete,
							data: {confirm: "Deseja mesmo deletar esse cartão?"} %> </td>
	</tr>
	<% end %>

</table>
<%= link_to 'Cadastrar Cartão', new_card_path%>